__pycache__
*.pyc
*.pyo
*.dmypy.json
*.jar
.mypy_cache
*.egg-info
*.egg
*.pth
*.torchscript
*.ckpt
*.gguf
*.safetensors
build/
data/
dist/
package/
.ipynb_checkpoints

# Cache
.cache
.eslintcache

# Testing
/coverage
*.lcov

# Environment variables
*.override.env

# macOS
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
.DS_Store

.env
