services:
  api:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.api
    volumes:
      - "./key.pem:/app/key.pem"
      - "./cert.pem:/app/cert.pem"
    command:
      [
        "uvicorn",
        "nodetool.api.app:app",
        "--host",
        "0.0.0.0",
        "--port",
        "443",
        "--ssl-keyfile",
        "/app/key.pem",
        "--ssl-certfile",
        "/app/cert.pem"
      ]
    ports:
      - "443:443"
    environment:
      ENV: ${ENV:-development}
      ASSET_BUCKET: ${ASSET_BUCKET}
      ASSET_DOMAIN: ${ASSET_DOMAIN}
      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_REGION: ${S3_REGION}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      CHROMA_URL: http://chroma:9000
      OLLAMA_API_URL: http://ollama:11434
      WORKER_URL: http://worker:5001
  worker:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.api
    volumes:
      - ${COMFY_FOLDER}:/comfy
      - ${HF_HOME}:/app/huggingface
    command:
      [
        "uvicorn",
        "nodetool.api.worker:app",
        "--host",
        "0.0.0.0",
        "--port",
        "5001",
      ]
    expose:
      - "5001"
    environment:
      ENV: ${ENV:-development}
      ASSET_BUCKET: ${ASSET_BUCKET}
      ASSET_DOMAIN: ${ASSET_DOMAIN}
      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_REGION: ${S3_REGION}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      REPLICATE_API_TOKEN: ${REPLICATE_API_TOKEN}
      HF_TOKEN: ${HF_TOKEN}
      HF_HOME: /app/huggingface
      MEMCACHE_HOST: memcached
      MEMCACHE_PORT: 11211
      COMFY_FOLDER: /comfy
      OLLAMA_API_URL: http://ollama:11434
      CHROMA_URL: http://chroma:9000
      NODETOOL_API_URL: https://api:443
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
  memcached:
    image: memcached:bookworm
    restart: unless-stopped
  chroma:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.api
    volumes:
      - ${CHROMA_PATH}:/chroma-data
    command:
      [
        "chroma",
        "run",
        "--host",
        "0.0.0.0",
        "--port",
        "9000",
        "--path",
        "/chroma-data"
      ]
    expose:
      - "9000"
  postgres:
    image: postgres:16.3
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ${POSTGRES_DATA_DIR}:/var/lib/postgresql/data
  ollama:
    image: ollama/ollama
    restart: unless-stopped
    volumes:
      - ${OLLAMA_PATH}:/root/.ollama
    expose:
      - "11434"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  # minio:
  #   container_name: minio
  #   image: minio/minio
  #   ports:
  #     - "9000:9000"
  #     - "9001:9001"
  #   volumes:
  #     - type: bind
  #       source: minio
  #       target: /data
  #   environment:
  #     MINIO_ROOT_USER: minio
  #     MINIO_ROOT_PASSWORD: minio123
  #     MINIO_VOLUMES: /data
  #   command: server --console-address ":9001"
