[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "nodetool"
version = "0.5.5"
description = "Nodetool is a no-code development environment for Artificial Intelligence, enabling the simple and intuitive creation of powerful AI workflows and their integration into existing applications."
readme = "README.md"
authors = ["Matthias Georgi <matti.georgi@gmail.com>"]
packages = [
  { include = "nodetool", from = "src" },
  { include = "comfy", from = "src" },
  { include = "comfy_custom_nodes", from = "src" },
  { include = "comfy_extras", from = "src" },
  { include = "RealESRGAN", from = "src" },
  { include = "folder_paths.py", from = "src" },
  { include = "latent_preview.py", from = "src" },
  { include = "node_helpers.py", from = "src" },
  { include = "nodes.py", from = "src" },
]
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"
accelerate = "1.1.1"
addict = "2.4.0"
aiofiles = "24.1.0"
aiohttp = "3.11.2"
annotated-types = "0.7.0"
anthropic = "0.39.0"
authlib = "1.3.2"
av = "13.1.0"
bitsandbytes = "0.44.1"
black = "24.10.0"
boto3 = "1.35.63"
bs4 = "0.0.2"
cairosvg = "2.7.1"
chromadb = "0.4.21"
click = "8.1.7"
cryptography = "*"
dac = "0.4.2"
datasets = "3.1.0"
descript-audio-codec = "1.0.0"
diffusers = { extras = ["torch"], version = "0.31.0" }
einops = "0.8.0"
fastapi = "0.115.5"
filelock = "3.16.1"
ffmpeg-python = "0.2.0"
freezegun = "1.5.1"
ftfy = "6.3.1"
fvcore = "0.1.5.post20221221"
httpx = "0.27.2"
huggingface_hub = "0.26.2"
imageio = "2.36.0"
importlib_metadata = "*"
importlib-resources = "*"
itsdangerous = "*"
joblib = "*"
jsonpath-ng = "*"
jsonschema = "*"
jwt = "*"
kornia = "0.7.4"
librosa = "0.10.2.post1"
lumaai = "1.1.0"
matplotlib = "3.9.2"
moto = { version = "*", extras = ["s3"] }
moviepy = "1.0.3"
msgpack = "1.1.0"
numpy = "1.26.4"
ollama = "0.3.3"
omegaconf = "2.3.0"
onnxruntime = "1.20.0"
# onnx = "1.16.2"
# onnxruntime-gpu = "*"
open-clip-torch = "2.29.0"
openai = "1.54.4"
openapi-pydantic = "*"
opencv-python-headless = "4.10.0.84"
pandas = "2.2.3"
pedalboard = "0.9.16"
peft = "0.13.2"
pillow = "11.0.0"
protobuf = "*"
psutil = "6.1.0"
psycopg2-binary = "2.9.10"
pydantic = "2.9.2"
pydub = "0.25.1"
pymemcache = "4.0.0"
pyngrok = "7.2.1"
pytesseract = "0.3.13"
python-dateutil = "2.9.0.post0"
python-multipart = "0.0.17"
pyyaml = "6.0.2"
replicate = "1.0.3"
respx = "0.21.1"
safetensors = "0.4.5"
sam2 = "0.4.1"
scikit-image = "0.24.0"
scikit-learn = "1.5.2"
scipy = "1.14.1"
seaborn = "0.13.2"
setuptools = "75.1.0"
selenium = "4.26.1"
sentence-transformers = "3.3.0"
sentencepiece = "0.2.0"
spandrel = "0.4.0"
statsmodels = "0.14.4"
svglib = "1.5.1"
tiktoken = "0.8.0"
torch = "2.4.1"
torchaudio = "2.4.1"
torchvision = "0.19.1"
torchsde = "0.2.6"
tqdm = "4.67.0"
transformers = "4.43.3"
trimesh = "3.21.1"
uvicorn = "0.32.0"
websocket-client = "1.8.0"
websockets = "14.1"
wheel = "0.44.0"
yacs = "0.1.8"
yapf = "0.40.2"
zipp = "3.21.0"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-env = "*"
pytest-xdist = "*"

[tool.poetry.scripts]
nodetool = "nodetool.cli:cli"
