[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "nodetool"
version = "0.5.0rc13"
description = "Nodetool is a no-code development environment for Artificial Intelligence, enabling the simple and intuitive creation of powerful AI workflows and their integration into existing applications."
readme = "README.md"
authors = ["Matthias Georgi <matti.georgi@gmail.com>"]
packages = [
  { include = "nodetool", from = "src" },
  { include = "comfy", from = "src" },
  { include = "comfy_custom_nodes", from = "src" },
  { include = "comfy_extras", from = "src" },
  { include = "RealESRGAN", from = "src" },
  { include = "parler_tts", from = "src" },
  { include = "folder_paths.py", from = "src" },
  { include = "latent_preview.py", from = "src" },
  { include = "node_helpers.py", from = "src" },
  { include = "nodes.py", from = "src" },
]

[tool.poetry.dependencies]
# xformers = "*"
accelerate = "*"
addict = "*"
aiofiles = "*"
aiohttp = "*"
annotated-types = "*"
anthropic = "*"
authlib = "*"
av = "*"
bitsandbytes = "*"
black = "*"
boto3 = ">=1.34.5"
bs4 = "*"
chromadb = "*"
click = "*"
cryptography = "*"
dac = "*"
datasets = "*"
descript-audio-codec = "*"
diffusers = { extras = ["torch"], version = "*" }
einops = "*"
fastapi = ">=0.109.0"
filelock = "*"
ffmpeg-python = "*"
freezegun = "*"
ftfy = "*"
fvcore = "*"
httpx = "*"
huggingface_hub = "*"
imageio = "*"
importlib_metadata = "*"
importlib-resources = "*"
itsdangerous = "*"
joblib = "*"
jsonpath-ng = "*"
jsonschema = "*"
jwt = "*"
kornia = "*"
librosa = "*"
lumaai = "*"
matplotlib = "*"
modal = "*"
moto = { version = "*", extras = ["s3"] }
moviepy = "*"
msgpack = "*"
numpy = "==1.26.4"
ollama = "*"
omegaconf = "*"
onnxruntime = "*"
# onnx = "1.16.2"
# onnxruntime-gpu = "*"
open-clip-torch = "*"
openai = ">=1.10.0"
openapi-pydantic = "*"
opencv-python-headless = "*"
pandas = "*"
pedalboard = "*"
peft = "*"
pillow = "*"
protobuf = "*"
psutil = "*"
psycopg2-binary = "*"
pydantic = ">=2.6.1"
pydub = "*"
pymemcache = "*"
pyngrok = "*"
pytesseract = "*"
python = "^3.10"
python-dateutil = "*"
python-multipart = "*"
pyyaml = "*"
replicate = "*"
respx = "*"
safetensors = "*"
sam2 = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
setuptools = "72.1.0"
selenium = "*"
sentence-transformers = "*"
sentencepiece = "*"
spandrel = "*"
svglib = "*"
tiktoken = "*"
torch = { version = ">=2.4", source = "pytorch" }
torchsde = "*"
torchaudio = { version = "*", source = "pytorch" }
torchvision = { version = "*", source = "pytorch" }
tqdm = "*"
transformers = "4.43.3"
trimesh = "*"
uvicorn = { version = "*", extras = ["standard"] }
validate_email = "*"
websocket-client = "*"
websockets = "*"
yacs = "*"
yapf = "*"
zipp = "*"

[tool.poetry.group.test.dependencies]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-env = "*"
pytest-xdist = "*"


[tool.poetry.scripts]
nodetool = "nodetool.cli:cli"

[[tool.poetry.source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu121"
priority = "explicit"
