/* NODE EDITOR BASE STYLES */

ul li {
  list-style-type: square;
}

/* Main container */
#root {
  width: 100%;
  height: 100%;
  display: block;
}

#root .node-editor {
  background: var(--c_editor_bg_color);
  margin: 0;
  padding: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

#root .MuiGrid2-root.MuiGrid2-container {
  width: 100%;
  margin: 0;
}

/* ReactFlow wrapper */
.reactflow-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Loading overlay */
.loading-overlay {
  position: absolute;
  width: 250px;
  height: 100px;
  right: 0;
  top: 1em;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
  pointer-events: none;
}

/* Pane */
.react-flow__pane.selection {
  cursor: default;
}

.react-flow .react-flow__pane {
  cursor: default !important;
}

.react-flow .react-flow__pane.dragging {
  cursor: grabbing !important;
}

/* Tooltip */
span.tooltip-small {
  font-size: var(--fontSizeSmall);
  color: var(--c_white) !important;
}

/* tooltips */
.tooltip-span {
  background-color: transparent;
  display: flex;
  margin:0;
  flex-direction: column;
  align-items: center;
  gap: 0.1em;
}

.tooltip-title {
  font-size: 1.2em;
  color: var(--c_gray6);
  margin:0;
}

.tooltip-key {
  font-size: 0.8em;
  background-color: transparent;
  color: var(--c_gray5);
  margin:0;
}