/* COLLAPSED NODE */
.react-flow__node.collapsed .node-body {
  height: 60px;
}
.react-flow__node.collapsed .node-body .node-property {
  height: 0;
  min-height: unset;
  margin-bottom: 0;
  margin-top: 0;
}
.react-flow__node.collapsed .node-body .node-property * {
  font-size: 0 !important;
  line-height: 0 !important;
}
.react-flow__node.collapsed .node-body .expand-button-container {
  display: none !important;
}
.react-flow__node.collapsed .node-body .node-header {
  height: 1.7em;
  min-height: unset;
}
.react-flow__node.collapsed .node-body .node-title {
  font-size: var(--fontSizeSmall);
}

.react-flow__node.collapsed .node-body .node-property label,
.react-flow__node.collapsed .node-body .inner-property p {
  font-size: var(--fontSizeTiny);
  top: 2px;
}

.react-flow__node.collapsed .node-body .value {
  font-size: var(--fontSizeTiny);
  top: 2px;
  height: 15px;
}

.react-flow__node.collapsed .node-body .react-flow__handle-left {
  top: 12px;
  height: 9px;
}

.react-flow__node.collapsed .node-body .node-property .MuiSlider-root .MuiSlider-track {
  border-bottom-width: 1px;
  top: -8px;
}

.react-flow__node.collapsed .node-body .dropzone,
.react-flow__node.collapsed .node-body video {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 14px;
  padding: 0;
  margin: 0;
  top: 0;
  max-width: 70px;
  outline: 0 none;
}

.react-flow__node.collapsed .node-body .dropzone p {
  font-size: var(--fontSizeTiny);
  padding: 0 2px;
  margin: 0;
}

.react-flow__node.collapsed .node-body .dropzone img {
  padding: 0 2px;
  margin: 0;
  max-height: 12px;
}

.react-flow__node.collapsed .node-body .MuiSlider-track {
  opacity: 0.6;
}
.react-flow__node.collapsed .node-body .dataframe-editor {
  height: 0;
  opacity: 0;
}

.react-flow__node.collapsed .node-body .MuiInput-root,
.react-flow__node.collapsed .node-body .node-property textarea,
.react-flow__node.collapsed .node-body .node-property code,
.react-flow__node.collapsed .node-body .edge-property .value,
.react-flow__node.collapsed .node-body .MuiSwitch-switchBase,
.react-flow__node.collapsed .node-body .mui-select,
.react-flow__node.collapsed .node-body .audio-controls,
.react-flow__node.collapsed .node-body .video-controls,
.react-flow__node.collapsed .node-body .waverecorder,
.react-flow__node.collapsed .node-body .value.nodrag,
.react-flow__node.collapsed .node-body .process-timer,
.react-flow__node.collapsed .node-body .node-logs,
.react-flow__node.collapsed .node-body .audio-controls-container,
.react-flow__node.collapsed .node-body .node-property select,
.react-flow__node.collapsed .node-body .string-property input,
.react-flow__node.collapsed .node-body .string-property .expand-button,
.react-flow__node.collapsed .node-body .MuiSwitch-root {
  visibility: hidden;
  display: none;
}

.react-flow__node.collapsed .node-body .edit-value {
  top: -1px;
}

.react-flow__node.collapsed .node-body .edit-value .MuiInput-root {
  visibility: visible;
  display: block;
}

/* LOOP COLLAPSED */
.react-flow__node-nodetool\.group\.Loop .loop-node.collapsed {
  min-height: 7em;
  height: 7em;
}

.react-flow__node-nodetool\.group\.Loop .loop-node.collapsed .tools {
  display: none;
}
