/* INTERACTIONS STYLES */

/**
 * Styles for interactions in the node editor
 */

/* Node selection */
.react-flow__selection,
.react-flow .react-flow__nodesselection-rect,
.react-flow__nodesselection-rect:focus-visible,
.react-flow .react-flow__nodesselection-rect:focus {
  background: #cdcdcd24 !important;
  border: 0;
}

.react-flow .react-flow__nodesselection-rect {
  outline: 1px solid #d9d9d9f0 !important;
  outline-offset: 0px;
  border-radius: 2px;
}

/* Drag selection */
.react-flow__selection {
  outline: none;
  border: 1px solid var(--c_gray6) !important;
  background-color: #33333355;
  border-radius: 0.25em;
}

.react-flow .react-flow__pane.dragging {
  cursor: grabbing !important;
}

/* Resize control */
.react-flow__resize-control.handle.bottom.right {
  opacity: 0;
  z-index: 500;
  top: unset;
  left: unset !important;
  bottom: -9px;
  right: -10px;
  width: 17px;
  height: 17px;
  background-color: var(--c_gray2) !important;
}

.react-flow__node
  .comment-node:hover
  .react-flow__resize-control.handle.bottom.right {
  opacity: 1;
}

.react-flow__resize-control svg {
  width: 15px;
  height: 15px;
  color: var(--c_gray5);
}

.react-flow__resize-control:hover svg {
  color: var(--c_hl1);
}
