/* INTERACTIONS STYLES */

/**
 * Styles for interactions in the node editor
 */

/* Node selection */
.react-flow__selection,
.react-flow .react-flow__nodesselection-rect,
.react-flow__nodesselection-rect:focus-visible,
.react-flow .react-flow__nodesselection-rect:focus {
  background: var(--palette-c_selection_rect) !important;
  border: 0;
}

.react-flow .react-flow__nodesselection-rect {
  outline: 1px solid var(--palette-grey-100) !important;
  outline-offset: 0px;
  border-radius: 2px;
  outline-width: 15px !important;
  outline-color: var(--palette-c_selection_rect) !important;
}

/* Drag selection */
.react-flow__selection {
  outline: none;
  border: 1px solid var(--palette-grey-100) !important;
  background-color: var(--palette-c_selection_rect) !important;
  border-radius: 0.25em;
}

.react-flow .react-flow__pane.dragging {
  cursor: grabbing !important;
}
