/* NODE STYLES */

/**
 * Styles for nodes in the node editor
 */

/* General node */
/* prevent resizing in y direction for BaseNode */
.react-flow__nodes
  .react-flow__node:not([class*="Preview"]):not([class*="Loop"]):not(
    [class*="Group"]
  ):not([class*="Comment"]) {
  height: auto !important;
  /* max-height: 500px; */
}

.react-flow__node {
  font-size: var(--fontSizeSmall);
  width: auto;
  cursor: default !important;
  padding: 0;
  border-radius: 3px 3px 4px 4px;
  background-color: transparent;
  transition: background-color 0.05s;
  transition: box-shadow 0.15s ease-in-out;
}

/* Node header */
.react-flow__node .node-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  min-height: 24px;
  /* background-color: var(--c_node_header_bg); */
  background-color: transparent;

  color: var(--c_white);
  margin: 0;
  border-radius: 2px 2px 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0.1em 0.1em 7px 0px rgb(201 201 201 / 5%); */
}

.node-drag-handle {
  cursor: grabbing !important;
}

.react-flow__node .node-header.has-parent {
  background-color: var(--c_node_header_bg_group);
}
.react-flow__node .node-header.has-parent {
  opacity: 0.7;
}

.react-flow__node .node-header:hover {
  transition: opacity 0.15s;
  color: var(--palette-grey-100);
}

.react-flow__node .node-header svg.MuiSvgIcon-root {
  scale: 0.8;
  border: 0;
  opacity: 1;
}

.react-flow__node .node-header .node-title {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-grow: 1;
  text-align: left;
  max-width: 170px;
  word-wrap: break-word;
  line-height: 1em;
  color: var(--c_white);
  font-family: var(--font-family-1);
  font-size: var(--fontSizeNormal);
  font-weight: 300;
  font-feature-settings: "smcp";
  padding: 0.3em 0 0.3em 0.5em;
}

.react-flow__node .title-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 3em;
  border-radius: 0em 0em 0.3em 0.3em;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.react-flow__node .title-container textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: var(--fontSizeNormal);
  line-height: 1.1em;
  font-weight: 300;
  font-family: var(--font-family-1);
  font-style: italic;
  color: var(--c_white);
  background-color: transparent;
}

.react-flow__node .title-container:hover .remove-title {
  display: block;
}

.react-flow__node .title-container .remove-title {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  color: var(--c_white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1px 1px;
  margin: 0;
  font-size: 12px;
}

.react-flow__node .title-container .title {
  pointer-events: none;
  padding: "1em";
  bottom: 0;
  width: 100%;
  color: var(--c_white);
  font-size: var(--fontSizeNormal);
  line-height: 1.1em;
  font-weight: 300;
  font-style: italic;
}

.react-flow__node .node-header .type {
  pointer-events: none;
}

.react-flow__node .node-header .menu-button {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding: 0;
  color: var(--palette-grey-100);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.react-flow__node .node-header .menu-button:hover {
  color: var(--c_white);
}

.react-flow__node .node-header .menu-button svg {
  scale: 0.5;
}

.react-flow__node .node-header .color-picker-button {
  position: absolute;
  pointer-events: all;
  margin: 5px;
  height: 1.1em;
  z-index: 1000;
  border-radius: 0;
}

.react-flow__node .node-header .color-picker-button svg {
  color: var(--palette-grey-200);
  width: 0.5em;
  height: 0.5em;
  rotate: -86deg;
}

.react-flow__node .node-header .color-picker-button:hover svg {
  color: var(--c_hl1);
}

.react-flow__node .planning-update-container {
  margin: 1em;
  border-top: 1px solid var(--palette-grey-600);
  font-size: 0.7reml;
  color: var(--palette-grey-100);
  word-break: break-word;
}

.react-flow__node .tool-call-container {
  margin: 1em;
  border-top: 1px solid var(--palette-grey-600);
  font-size: 0.7reml;
  color: var(--c_hl1);
  word-break: break-word;
}

.react-flow__node .node-chunk {
  margin-top: 0.5em;
  padding: 0.5em;
}

.react-flow__node .node-status {
  max-width: 250px;
  padding: 10px;
  color: var(--c_warning);
  font-family: var(--font-family-1);
}

.react-flow__node .node-body {
  display: flex;
  flex-direction: column;
}

/* Node body */
.react-flow .node-body {
  padding: 0;
  border-radius: 4px;
}

.react-flow .has-result {
  border-bottom: 3px solid var(--c_hl1);
}

/* Node selection */
.react-flow__node.selected {
  box-shadow: 0 0 0 2px #fffa,
    0.15em 0.15em 1.2em 0px rgba(0, 0, 0, 0.6);
}

/* Compact nodes */
.react-flow__node-bool {
  width: 55px;
  min-width: 55px;
}

.react-flow__node-bool label,
.react-flow__node-bool .node-header {
  font-size: 0;
}

/* Loading indicator */
.react-flow .process-timer {
  pointer-events: none;
  font-size: 8px;
  font-family: monospace;
  line-height: 1em;
  width: fit-content;
  text-align: center;
  color: var(--palette-grey-600);
  margin: auto;
  padding: 0px 2px 4px;
  transition: opacity 1s 1s;
}

.react-flow .selected .process-timer {
  color: var(--c_black);
  background-color: transparent;
}

/* Node inputs */
.node-inputs {
  margin-top: 0.5em;
}

/* Node menu */
.node-menu-bottom {
  position: relative;
  width: calc(100% + 10px);
  height: 20px;
  padding: 0px 2px;
  margin: 5px -5px 0;
  background: var(--c_node_menu);
}

/* ZOOM-RELATED STYLES */
.react-flow.zoomed-out .react-flow__node {
  background-color: var(--palette-grey-800);
  min-width: 100px;
}

.react-flow.zoomed-out .node-property:not(.image),
.react-flow.zoomed-out .node-property .property-label,
.react-flow.zoomed-out .audio-controls-container,
.react-flow.zoomed-out .multi-outputs,
.react-flow.zoomed-out .node-title,
.react-flow.zoomed-out .node-header span,
.react-flow.zoomed-out .node-header .menu-button,
.react-flow.zoomed-out .node-footer,
.react-flow.zoomed-out .node-status,
.react-flow.zoomed-out .api-key-button,
.react-flow.zoomed-out .title-container,
.react-flow.zoomed-out .process-timer,
.react-flow.zoomed-out .comment-node > div,
.react-flow.zoomed-out .node-property-form,
.react-flow.zoomed-out .react-flow__handle,
.react-flow.zoomed-out .loop-node .inputs,
.react-flow.zoomed-out .loop-node .outputs,
.react-flow.zoomed-out .model-button,
.react-flow.zoomed-out .expand-button-container,
.react-flow.zoomed-out .tool-call-container,
.react-flow.zoomed-out .node-chunk,
.react-flow.zoomed-out .preview-node-content .output
  {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.react-flow.zoomed-out .node-property .image-property,
.react-flow.zoomed-out .image-output {
  opacity: 1;
  visibility: visible;
}

.react-flow.zoomed-out .node-resize-handle,
.react-flow.zoomed-out .node-resize-handle svg {
  width: 60px !important;
  height: 60px !important;
  bottom: -10px;
  right: -10px;
}

@keyframes gradientAnimation {
  from {
    --gradient-angle: 90deg;
  }
  to {
    --gradient-angle: 450deg;
  }
}

.base-node .node-resizer .react-flow__resize-control.top.line,
.base-node .node-resizer .react-flow__resize-control.bottom.line {
  display: none;
}

.base-node .node-resizer .react-flow__resize-control.handle {
  opacity: 0;
}

.base-node .node-resizer .react-flow__resize-control.line {
  opacity: 0;
  border-width: 1px;
  border-color: var(--c-gray2);
  transition: all 0.15s ease-in-out;
}

.base-node .node-resizer .react-flow__resize-control.line:hover {
  opacity: 1;
}

/* Loading styles */
.base-node.loading {
  position: relative;
  --glow-offset: -4px;
}

.base-node.loading::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: var(--glow-offset);
  left: var(--glow-offset);
  right: var(--glow-offset);
  bottom: var(--glow-offset);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5),
    var(--color-1)
  );
  border-radius: inherit;
  z-index: -20;
  animation: gradientAnimation 5s ease-in-out infinite;
  transition: opacity 0.5s ease-in-out;
}

.base-node.loading.is-loading::before {
  opacity: 1;
}

/* Resize handle styles */
.base-node .react-flow__resize-control.handle.right {
  cursor: ew-resize;
}

/* Handle styles */
.react-flow__node-toolbar button {
  opacity: 0.5;
  transition: opacity 0.2s;
}
.react-flow__node-toolbar button:hover {
  opacity: 1;
}

/* Node Footer Styles */
.node-footer {
  display: flex;
  height: 18px;
  align-items: flex-start;
  background: var(--c_node_header_bg);
  border-radius: 0 0 0.3em 0.3em;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}

.node-footer .namespace-button {
  display: block;
  margin: 0 0 0 0;
  padding: 0px 10px;
  border-radius: 0;
  background-color: transparent;
  color: var(--palette-grey-200);
  font-family: var(--font-family-1);
  font-size: var(--fontSizeSmaller);
  text-transform: uppercase;
  text-align: left;
  flex-grow: 1;
  overflow: hidden;
}

.node-footer .namespace-button:hover {
  background-color: transparent;
  color: var(--c_hl1);
}

.node-footer .namespace-button:hover .pretty-namespace span {
  color: var(--c_hl1) !important;
}

.node-footer svg {
  scale: 0.5;
}

.node-inputs .expand-button-container {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.node-inputs .advanced-fields-button {
  font-size: 0.75rem;
  margin: 0 2px;
  padding: .1em 1em .1em .5em;
  min-width: 0;
  font-size: 0.7rem;
  color: var(--palette-grey-500);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: left;
}

.node-inputs .advanced-fields-button.active .MuiSvgIcon-root {
  transform: rotate(180deg);
}

.node-inputs .advanced-fields-button .MuiSvgIcon-root {
  transition: transform 0.3s ease;
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 2px;
}

.node-inputs .advanced-fields-button:hover {
  color: var(--c_white);
}

.node-inputs .advanced-fields-button.active svg {
  color: var(--c_hl1);
  transform: rotate(180deg);
}

.node-inputs .advanced-fields-button svg {
  scale: 0.7;
}

.node-resizer .react-flow__resize-control.top.line,
.node-resizer .react-flow__resize-control.bottom.line {
  display: none;
}

.node-resizer .react-flow__resize-control.handle {
  opacity: 0;
}

.node-resizer .react-flow__resize-control.line {
  opacity: 0;
  border-width: 1px;
  border-color: var(--palette-grey-600);
  transition: all 0.15s ease-in-out;
}

.node-resizer .react-flow__resize-control.line:hover {
  opacity: 1;
}

.node-progress pre {
  margin: 0;
  padding: 0.25em;
  background-color: var(--palette-grey-900);
  width: 100%;
  overflow-x: scroll;
}

/* Constant.String */

.react-flow__node-nodetool\.constant\.String .node-property .string-property textarea {
  resize: vertical;
  max-height: 1000px !important;
}
