/* NODE STYLES */

/**
 * Styles for nodes in the node editor
 */

/* General node */
.react-flow__node {
  font-size: var(--font-size-small);
  width: auto;
  cursor: default !important;
  padding: 0;
  /* padding: 5px 0 0 0;
  padding-bottom: 5px; */
  border-radius: 0.3em;
  background-color: var(--c_node_bg);
  transition: background-color 0.05s;
  box-shadow: 0.1em 0.1em 0.5em 0px rgba(30, 30, 30, 0.4);
}

.react-flow__node.has-parent {
  background-color: var(--c_node_bg_group);
}

/* Node header */
.react-flow__node .node-header {
  cursor: grabbing !important;
}

.react-flow__node .node-status {
  max-width: 180px;
  padding: 10px;
  color: red;
  font-family: var(--font-family-1);
}

.react-flow__node .node-body {
  display: flex;
  flex-direction: column;
}

/* Node body */
.react-flow .node-body {
  padding: 0;
  border-radius: 4px;
}

.react-flow .has-result {
  border-bottom: 3px solid var(--c_hl1);
}

/* Node selection */
.react-flow__node.selected {
  box-shadow: 0 0 0px 1px #fff;
}

/* Compact nodes */
.react-flow__node-bool {
  width: 55px;
  min-width: 55px;
}

.react-flow__node-bool label,
.react-flow__node-bool .node-header {
  font-size: 0;
}

/* Loading indicator */
.react-flow .process-timer {
  pointer-events: none;
  font-size: var(--font-size-tiny);
  line-height: 1em;
  width: fit-content;
  text-align: center;
  color: var(--c_gray5);
  background-color: #2c2c2c33;
  margin: auto;
  padding: 0px 2px;
  transition: opacity 1s 1s;
}

.react-flow .selected .process-timer {
  color: var(--c_black);
  background-color: transparent;
}

/* Node inputs */
.node-inputs {
  margin-top: 0.5em;
}

/* Node menu */
.node-menu-bottom {
  position: relative;
  width: calc(100% + 10px);
  height: 20px;
  padding: 0px 2px;
  margin: 5px -5px 0;
  background: var(--c_node_menu);
}

/* ZOOM-RELATED STYLES */

.node-content-hidden {
  opacity: 0;
  height: 0;
}

.react-flow.zoomed-out .node-content-hidden {
  visibility: hidden;
}

.react-flow.zoomed-out .react-flow__node {
  background-color: var(--c_gray1);
  min-width: 150px;
}

.react-flow .node-title.big {
  opacity: 0;
  font-size: 0;
  margin: 5px 0 0 -5px;
  padding: 0;
  top: -0.1em;
  left: 0.5em;
  position: absolute;
  width: calc(100% - 20px);
  min-height: 20px;
  height: auto;
  line-height: 1em;
  background-color: transparent;
  transition: opacity 0.8s;
}

.react-flow.zoomed-out .node-header .node-title.big {
  font-size: 24px;
  opacity: 1;
}

.react-flow.zoomed-out .node-body .icon-bg,
.react-flow.zoomed-out .node-body .audio-controls,
.react-flow.zoomed-out .node-header .node-title {
  opacity: 0;
}

.react-flow.zoomed-out .node-body .node-error {
  height: 60px;
  color: transparent;
  overflow: hidden;
  pointer-events: none;
}

.react-flow.zoomed-out .node-header button {
  opacity: 0;
}

.react-flow.zoomed-out .node-header svg {
  display: hidden;
}

.react-flow.zoomed-out .namespace {
  display: none;
}
