/* NODE STYLES */

/**
 * Styles for nodes in the node editor
 */

/* General node */
/* prevent resizing in y direction for BaseNode */
.react-flow__nodes
  .react-flow__node:not([class*="Preview"]):not([class*="Loop"]):not(
    [class*="Group"]
  ):not([class*="Comment"]) {
  height: auto !important;
  /* max-height: 500px; */
}

.react-flow__node {
  font-size: var(--font-size-small);
  width: auto;
  cursor: default !important;
  padding: 0;
  border-radius: 0.3em;
  background-color: var(--c_node_bg);
  transition: background-color 0.05s;
  box-shadow: 0.1em 0.1em 0.4em 0px rgba(0, 0, 0, 0.3);
}

/* Node header */
.react-flow__node .node-header {
  cursor: grabbing !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.react-flow__node .node-status {
  max-width: 250px;
  padding: 10px;
  color: var(--c_warning);
  font-family: var(--font-family-1);
}

.react-flow__node .node-body {
  display: flex;
  flex-direction: column;
}

/* Node body */
.react-flow .node-body {
  padding: 0;
  border-radius: 4px;
}

.react-flow .has-result {
  border-bottom: 3px solid var(--c_hl1);
}

/* Node selection */
.react-flow__node.selected {
  box-shadow: 0 0 0 2px var(--c_white),
    0.15em 0.15em 1.2em 0px rgba(0, 0, 0, 0.6);
}

/* Compact nodes */
.react-flow__node-bool {
  width: 55px;
  min-width: 55px;
}

.react-flow__node-bool label,
.react-flow__node-bool .node-header {
  font-size: 0;
}

/* Loading indicator */
.react-flow .process-timer {
  pointer-events: none;
  font-size: 8px;
  font-family: monospace;
  line-height: 1em;
  width: fit-content;
  text-align: center;
  color: var(--c_gray2);
  margin: auto;
  padding: 0px 2px 4px;
  transition: opacity 1s 1s;
}

.react-flow .selected .process-timer {
  color: var(--c_black);
  background-color: transparent;
}

/* Node inputs */
.node-inputs {
  margin-top: 0.5em;
}

/* Node menu */
.node-menu-bottom {
  position: relative;
  width: calc(100% + 10px);
  height: 20px;
  padding: 0px 2px;
  margin: 5px -5px 0;
  background: var(--c_node_menu);
}

/* ZOOM-RELATED STYLES */
.react-flow.zoomed-out .react-flow__node {
  background-color: var(--c_gray1);
  min-width: 100px;
}

.react-flow.zoomed-out .node-property,
.react-flow.zoomed-out .audio-controls-container,
.react-flow.zoomed-out .multi-outputs,
.react-flow.zoomed-out .node-title,
.react-flow.zoomed-out .node-header span,
.react-flow.zoomed-out .node-header .menu-button,
.react-flow.zoomed-out .node-footer,
.react-flow.zoomed-out .node-status,
.react-flow.zoomed-out .api-key-button,
.react-flow.zoomed-out .model-button {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.react-flow.zoomed-out .comment-node input {
  font-size: 2.5em;
}

@keyframes gradientAnimation {
  from {
    --gradient-angle: 90deg;
  }
  to {
    --gradient-angle: 450deg;
  }
}

.base-node .node-resizer .react-flow__resize-control.top.line,
.base-node .node-resizer .react-flow__resize-control.bottom.line {
  display: none;
}

.base-node .node-resizer .react-flow__resize-control.handle {
  opacity: 0;
}

.base-node .node-resizer .react-flow__resize-control.line {
  opacity: 0;
  border-width: 1px;
  border-color: var(--c-gray2);
  transition: all 0.15s ease-in-out;
}

.base-node .node-resizer .react-flow__resize-control.line:hover {
  opacity: 1;
}

/* Loading styles */
.base-node.loading {
  position: relative;
  --glow-offset: -4px;
}

.base-node.loading::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: var(--glow-offset);
  left: var(--glow-offset);
  right: var(--glow-offset);
  bottom: var(--glow-offset);
  background: conic-gradient(
    from var(--gradient-angle),
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5),
    var(--color-1)
  );
  border-radius: inherit;
  z-index: -20;
  animation: gradientAnimation 5s ease-in-out infinite;
  transition: opacity 0.5s ease-in-out;
}

.base-node.loading.is-loading::before {
  opacity: 1;
}

/* Resize handle styles */
.base-node .react-flow__resize-control.handle.right {
  cursor: ew-resize;
}

/* Handle styles */
.react-flow__node-toolbar button {
  opacity: 0.5;
  transition: opacity 0.2s;
}
.react-flow__node-toolbar button:hover {
  opacity: 1;
}
