/* NODE PROPERTIES STYLES */

/**
 * Styles for node properties in the node editor
 */

/* General property */
.node-property,
.node-editor .node-output {
  position: relative;
  width: auto;
  min-height: 18px;
  border: 0;
  padding: 0 8px;
  margin-bottom: 8px;
  line-height: 18px;
}

.node-property:last-child {
  margin-bottom: 0;
}

.node-property .react-flow__handle {
  margin-top: 2px;
}

.node-editor .node-output {
  padding: 0 1em;
  margin: 1px 0 0;
}

/* Code display */
.node-property code {
  display: block;
  margin: 0.6em 0 0;
  font-size: var(--fontSizeSmaller);
  background-color: var(--palette-grey-800);
  padding: 0.1em 0.2em;
  user-select: text;
  cursor: text;
  line-height: 1.2em;
  word-spacing: -2px;
}

/* Boolean property */
.node-property.bool {
  min-width: 35px;
}
