/* SPECIAL NODE STYLES */

/**
 * Styles for special node types in the node editor
 */

/* Loop + Group node */
.react-flow__node-nodetool\.group\.Loop,
.react-flow__node-nodetool\.workflows\.base_node\.Group {
  z-index: -1 !important;
  min-width: 100px;
  min-height: 100px;
  background-color: transparent;
  box-shadow: none;
  pointer-events: none !important; /* allow selection rectangle inside node*/
}
.react-flow__node-nodetool\.group\.Loop .node-header,
.react-flow__node-nodetool\.group\.Loop .node-resizer,
.react-flow__node-nodetool\.group\.Loop .tools,
.react-flow__node-nodetool\.workflows\.base_node\.Group .node-header,
.react-flow__node-nodetool\.workflows\.base_node\.Group .node-resizer,
.react-flow__node-nodetool\.workflows\.base_node\.Group .tools {
  pointer-events: all;
}

/* Group Input/Output node */
.react-flow__node-nodetool\.input\.GroupInput {
  padding: 0;
}

.react-flow__node-nodetool\.output\.GroupOutput {
  padding: 0;
}

.react-flow__node-nodetool\.input\.GroupInput .node-body,
.react-flow__node-nodetool\.output\.GroupOutput .node-body {
  min-height: unset !important;
}

.react-flow__node-nodetool\.input\.GroupInput .node-header {
  background-color: var(--c_input) !important;
}

.react-flow__node-nodetool\.output\.GroupOutput .node-header {
  background-color: var(--c_output) !important;
}

.react-flow__node-nodetool\.input\.GroupInput .node-footer,
.react-flow__node-nodetool\.output\.GroupOutput .node-footer,
.react-flow__node-nodetool\.input\.GroupInput .process-timer,
.react-flow__node-nodetool\.output\.GroupOutput .process-timer,
.react-flow__node-nodetool\.output\.GroupOutput label {
  display: none !important;
}

.react-flow__node-nodetool\.input\.GroupInput .node-inputs,
.react-flow__node-nodetool\.output\.GroupOutput .node-inputs {
  position: absolute;
  top: 2px;
  left: -1px;
  margin: 0;
}

/* Comment node */
.react-flow__node-nodetool\.workflows\.base_node\.Comment {
  z-index: -1 !important;
  width: auto;
  min-width: 100px;
  max-width: 5000px;
  min-height: 50px;
  max-height: 5000px;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
  border: none;
  background-color: #fff2;
  box-shadow: none;
  overflow: visible;
}

.react-flow.zoomed-out
  .react-flow__node-nodetool\.workflows\.base_node\.Comment,
.react-flow.zoomed-out .react-flow__node-nodetool\.group\.Loop,
.react-flow.zoomed-out .react-flow__node-nodetool\.workflows\.base_node\.Group {
  background-color: #0001;
}
.react-flow.zoomed-out
  .react-flow__node-nodetool\.workflows\.base_node\.Group
  .node-header
  input {
  font-size: 3em;
  height: 1em;
}

.react-flow__node-nodetool\.workflows\.base_node\.Comment.selected {
  border: 0;
  outline: 1px solid #ccc !important;
  box-shadow: none !important;
}

.comment-node label {
  display: none;
}

.react-flow__node-comment .node-header {
  position: absolute;
  top: 0;
  left: 0px;
  height: 20px;
  min-height: unset;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent !important;
}

.comment-node textarea {
  border: 0;
  outline: none;
  background-color: transparent;
}

/* Input & Output node */
.react-flow .input-node .node-header,
.react-flow .output-node .node-header {
  margin: 0;
  background-color: var(--palette-grey-500);
}

/* Constant node */
.react-flow__node-nodetool\.constant\.Audio .node-property .property-label,
.react-flow__node-nodetool\.constant\.Image .node-property .property-label,
.react-flow__node-nodetool\.constant\.Video .node-property .property-label,
.react-flow__node-nodetool\.constant\.Bool .node-property .property-label {
  display: none;
}

/* Collapsed Loop node */
.react-flow__node-nodetool\.group\.Loop .loop-node.collapsed {
  min-height: 7em;
  height: 7em;
}

.react-flow__node-nodetool\.group\.Loop .loop-node.collapsed .tools {
  display: none;
}

/* Datatable */
.node-property.dataframe {
  padding: 0.5em;
}

/* Selected node - handled in nodes.css */

.react-flow__node-default .react-flow__handle-left {
  left: -6px !important;
}

.react-flow__node-default .node-header {
  border: 0;
  background-color: #4444;
}
