:root {
  --font_family: Inter, Arial, sans-serif;
  --font_family2: "Jetbrains Mono", Inter, Arial, sans-serif;
  --font-size-bigger: 15px;
  --font-size-big: 13.5px;
  --font-size-normal: 12px;
  --font-size-small: 10.5px;
  --font-size-smaller: 9px;
  --font-size-tiny: 7.5px;
  --font-size-tinyer: 6.5px;

  /* General */
  --c_black: var(--mui-palette-c_black);
  --c_white: var(--mui-palette-c_white);
  --c_gray0: var(--mui-palette-c_gray0);
  --c_gray1: var(--mui-palette-c_gray1);
  --c_gray2: var(--mui-palette-c_gray2);
  --c_gray3: var(--mui-palette-c_gray3);
  --c_gray4: var(--mui-palette-c_gray4);
  --c_gray5: var(--mui-palette-c_gray5);
  --c_gray6: var(--mui-palette-c_gray6);
  --c_background: var(--mui-palette-c_background);
  --c_node_menu: var(--mui-palette-c_node_menu);
  /* Highlights */
  --c_hl1: var(--mui-palette-c_hl1);
  --c_hl1_1: var(--mui-palette-c_hl1_1);
  --c_hl2: var(--mui-palette-c_hl2);
  --c_link: var(--mui-palette-c_link);
  --c_link_visited: var(--mui-palette-c_link_visited);
  /* --c_selection: #8eaca7; */
  --c_selection: var(--mui-palette-c_selection);
  /* Statuses */
  --c_attention: var(--mui-palette-c_attention);
  --c_delete: var(--mui-palette-c_delete);
  --c_debug: var(--mui-palette-c_debug);
  --c_error: var(--mui-palette-c_error);
  --c_info: var(--mui-palette-c_info);
  --c_job: var(--mui-palette-c_job);
  --c_node: var(--mui-palette-c_node);
  --c_progress: var(--mui-palette-c_progress);
  --c_success: var(--mui-palette-c_success);
  --c_warn: var(--mui-palette-c_warn);
  --c_warning: var(--mui-palette-c_warning);
  /* Scrollbar*/
  --c_scroll_bg: var(--mui-palette-c_scroll_bg);
  --c_scroll_hover: var(--mui-palette-c_scroll_hover);
  --c_scroll_thumb: var(--mui-palette-c_scroll_thumb);
  --c_input: var(--mui-palette-c_input);
  --c_output: var(--mui-palette-c_output);
  /* Data Types */
  /*
  If these colors are needed, they should be added to sharedPalette.ts 
  and then referenced here, e.g., --c_any: var(--mui-palette-c_any);

  --c_any: #FFFFFF;
  --c_asset: #E6DB69;
  --c_assistant: #56DB52;
  --c_audio: #1E90FF;
  --c_bool: #09152C;
  --c_dataframe: #AAFFC3;
  --c_dict: #FFD8B1;
  --c_enum: #F54F31;
  --c_file: #FFC63D;
  --c_float: #747D82;
  --c_folder: #B9AF8A;
  --c_image: #36B1BF;
  --c_int: #3B3F42;
  --c_list: #E6BEFF;
  --c_model: #800061;
  --c_str: #12620b;
  --c_tensor: #c331ed;
  --c_text: #248809;
  --c_thread: #3B1EBF;
  --c_thread_message: #4D39D7;
  --c_union: #7B5353;
  --c_video: #BCF60C;
*/
  /* NODES */
  --c_node_bg: var(--mui-palette-c_node_bg);
  --c_node_bg_group: var(--mui-palette-c_node_bg_group);
  --c_node_header_bg: var(--mui-palette-c_node_header_bg);
  --c_node_header_bg_group: var(--mui-palette-c_node_header_bg_group);

  --handle_width: 6px;
  --handle_height: 12px;
}
