:root {
  /* Canonical font family definitions */
  --fontFamily1: Inter, Arial, sans-serif;
  --fontFamily2: "JetBrains Mono", Inter, Arial, sans-serif;

  /* General */
  --c_background: var(--palette-c_background);
  --c_node_menu: var(--palette-c_node_menu);

  /* Highlights */
  --c_link: var(--palette-c_link);
  --c_link_visited: var(--palette-c_link_visited);
  --c_selection: var(--palette-c_selection);

  /* Statuses */
  --c_attention: var(--palette-c_attention);
  --c_delete: var(--palette-c_delete);
  --c_debug: var(--palette-c_debug);
  --c_job: var(--palette-c_job);
  --c_node: var(--palette-c_node);
  --c_progress: var(--palette-c_progress);
  --c_warn: var(--palette-c_warn);

  /* Scrollbar*/
  --c_scroll_bg: var(--palette-c_scroll_bg);
  --c_scroll_hover: var(--palette-c_scroll_hover);
  --c_scroll_thumb: var(--palette-c_scroll_thumb);
  --c_input: var(--palette-c_input);
  --c_output: var(--palette-c_output);

  /* NODES */
  --handle_width: 6px;
  --handle_height: 12px;
  --c_node_bg: var(--palette-c_node_bg);
  --c_node_bg_group: var(--palette-c_node_bg_group);
  --c_node_header_bg: var(--palette-c_node_header_bg);
  --c_node_header_bg_group: var(--palette-c_node_header_bg_group);
}
