body {
  margin: 1em;
  overflow: hidden;
  background: transparent;
  width: 100%;
  height: 100%;
  /* -webkit-app-region: drag; */
}

#root {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
}
