.alertRoot {
  display: flex;
  align-items: flex-start;
  padding: var(--chakra-space-4);
  border-radius: var(--chakra-radii-md);
  border: 1px solid var(--chakra-colors-border);
  background: var(--chakra-colors-alertBg);
}

.alertContent {
  flex: 1;
  margin-left: var(--chakra-space-3);
}

.alertTitle {
  font-weight: var(--chakra-fontWeights-medium);
  margin-bottom: var(--chakra-space-1);
}

.alertDescription {
  color: var(--chakra-colors-textGray);
} 